<div class="margin-top center header">
  JP
</div>

<div class="margin-top-lg margin-left padding">
  <div class="margin-top mini-flex-row-start-top-gap-50">
    <div>
      <div class="center">
        Let the journey begin...
      </div>
      <div class="pc-frame pic-frame">
      </div>
    </div>
    <div class="times-font">
      <div class="paragraph-width">
        This is where it all started. In 1985, when I was 5 years old, my dad sat me down in front of a good 'ole IBM 8088.  
        The processor was clocked at a screaming 5Mhz, had a gigantic 20mb hard drive, and a nice 4 color monitor.
        Man, how times have changed.
      </div>
      <div class="margin-top paragraph-width">
        I quickly began getting familiar with it and started off playing games like Qubert, Snakes, and Bricks.
        Later, I began programming in QBasic and wrote some basic text adventure games.
      </div>
      <div class="margin-top paragraph-width">
        As I grew up, my knowledge of computers grew as well and I quickly found out that I was born to program....
      </div>
    </div>

    <div class="margin-left">
      <div class="center">
        Off to School
      </div>
      <div class="clemson-frame pic-frame">
      </div>
    </div>
    <div class="times-font">
      <div class="paragraph-width">
        I started pursuing a B.S. in Computer Science at Clemson in 1998.
        My first programming class was in Java and I remember that the concepts were escaping me until one day, my final exam day.
        As I was taking the exam, suddenly a light-bulb went off in my head and everything the professor taught us that semester 'clicked'.  I took a sigh of relief and then quickly breezed through the rest of the exam.  
        I pulled an 'A' on the exam and an 'A' in the class and went on to finish my degree in 4 years.  
      </div>
    </div>
  </div>
</div>


<div class="margin-top cat-div">
  <div class="center">
    Meet Felipe
  </div>
  <div class="margin-top mini-flex-row-between-center">
    <div class="flex-50">
      <div class="center">
        The kitten
      </div>
      <div class="kitten-frame pic-frame">
      </div>
    </div>
    <div class="flex-50">
      <div class="center">
        The cat
      </div>
      <div class="cat-frame pic-frame">
      </div>
    </div>
  </div>